<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      <div class="resources grid grid-3col">
        <div class="resource">
          <label for="system.ancestry" class="resource-label"><small>Ancestry</small></label>
          <input type="text" name="system.ancestry" value="{{system.ancestry}}" />
        </div>
        <div class="resource">
          <label for="system.faction" class="resource-label"><small>Faction</small></label>
          <input type="text" name="system.faction" value="{{system.faction}}"/>
        </div>
        <div class="resource">
          <label for="system.credits" class="resource-label"><small>Credits</small></label>
          <input type="text" name="system.credits" value="{{system.credits}}" data-dtype="Number" />
        </div>
      </div>
      <div class="resources grid grid-3col">
        <div class="resource">
          <label for="system.class" class="resource-label"><small>Class</small></label>
          <input type="text" name="system.class" value="{{system.class}}" />
        </div>
        <div class="resource">
          <label for="system.level" class="resource-label"><small>Level</small></label>
          <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label for="system.xp" class="resource-label"><small>XP</small></label>
          <input type="text" name="system.xp" value="{{system.xp}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  <section class="sheet-meters">
    <div class="resources grid grid-3col">
      <div class="resource flex-group-center box">
        <h3 class="meter-header">Health</h3>
        <div class="resource-content flexrow flex-center">
          <div class="flexcol">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
            <label for="system.health.value" type="text" class="resource-label"><small>Current</small></label>
          </div>
          <span>/</span>
          <div class="flexcol">
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
            <label for="system.health.max" type="text" class="resource-label"><small>Max</small></label>
          </div>
        </div>
      </div>
      <div class="resource flex-group-center box">
        <h3 class="meter-header">Stamina</h3>
        <div class="resource-content flexrow flex-center">
          <div class="flexcol">
            <input type="text" name="system.stamina.value" value="{{system.stamina.value}}" data-dtype="Number" />
            <label for="system.stamina.value" type="text" class="resource-label"><small>Current</small></label>
          </div>
          <span>/</span>
          <div class="flexcol">
            <input type="text" name="system.stamina.max" value="{{system.stamina.max}}" data-dtype="Number" />
            <label for="system.stamina.max" type="text" class="resource-label"><small>Max</small></label>
          </div>
        </div>
      </div>
      <div class="resource flex-group-center box">
        <h3 class="meter-header">Mana</h3>
        <div class="resource-content flexrow flex-center">
          <div class="flexcol">
            <input type="text" name="system.mana.value" value="{{system.mana.value}}" data-dtype="Number" />
            <label for="system.mana.value" type="text" class="resource-label"><small>Current</small></label>
          </div>
          <span>/</span>
          <div class="flexcol">
            <input type="text" name="system.mana.max" value="{{system.mana.max}}" data-dtype="Number" />
            <label for="system.mana.max" type="text" class="resource-label"><small>Max</small></label>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="items">Inventory</a>
    <a class="item" data-tab="quests">Quest Log</a>
  </nav>

  <section class="sheet-body">
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-5col">
        <aside class="sidebar grid-span-1">
          <div class="">
            <div class="abilities box">
              <div class="grid grid-3col attribute-header">
                <label class="resource-label">Attribute</label>
                <label class="resource-label">Base</label>
                <label class="resource-label">Bonus</label>
              </div>
              <div class="grid grid-3col">
                {{#each system.abilities as |ability key|}}
                <label for="system.abilities.{{key}}.value" class="resource-label rollable" data-roll="d100"
                  data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup
                  @root.config.abilities
                  key)}}</label>
                <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}"
                  data-dtype="Number" />
                <span class="ability-mod rollable" data-roll="d100+@abilities.{{key}}.mod"
                  data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.mod decimals=0
                  sign=true}}</span>
                {{/each}}
              </div>
            </div>
          </div>
        </aside>

        <section class="main grid-span-4">
          <div class="box">
            <h3 class="flex-group-center">Weapons</h3>
            {{> "systems/infinitys-edge/templates/actor/parts/actor-weapons.hbs"}}
          </div>
          <div class="box" style="margin-top: 10px;">
            <h3 class="flex-group-center">Armor</h3>
            {{> "systems/infinitys-edge/templates/actor/parts/actor-armor.hbs"}}
          </div>
        </section>
      </section>
    </div>

    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/infinitys-edge/templates/actor/parts/actor-skills.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/infinitys-edge/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/infinitys-edge/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/infinitys-edge/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>